<!--左侧导航开始-->
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span><img alt="image" class="img-circle" src="/img/loading-head.png" /></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">Beaut-zihan</strong></span>
                                <span class="text-muted text-xs block">超级管理员<b class="caret"></b></span>
                                </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="J_menuItem" href="form_avatar.html">修改头像</a>
                        </li>
                        <li><a class="J_menuItem" href="profile.html">个人资料</a>
                        </li>
                        <li><a class="J_menuItem" href="contacts.html">联系我们</a>
                        </li>
                        <li><a class="J_menuItem" href="mailbox.html">信箱</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html">安全退出</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">H+
                </div>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-home"></i>
                    <span class="nav-label">支部管理</span>
                    <span class="fa arrow fa-angle-right"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="/admin/branch/toEdit" data-index="0">添加支部</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/branch/index">支部列表</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-columns"></i>
                    <span class="nav-label">基层组织</span>
                    <span class="fa arrow fa-angle-right"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="table.html" data-index="0">添加</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="form_basic.html">表单</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa fa-bar-chart-o"></i>
                    <span class="nav-label">学习宣传</span>
                    <span class="fa arrow fa-angle-right"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="/admin/content/toEdit?m=1">添加</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/content/index?m=1">宣传列表</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span class="nav-label">党务工作 </span>
                    <span class="fa arrow fa-angle-right"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="/admin/content/toEdit?m=2">添加</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/content/index?m=2">工作列表</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-edit"></i>
                    <span class="nav-label">关注热度</span>
                    <span class="fa arrow fa-angle-right"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="/admin/content/toEdit?m=3">添加</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/content/index?m=3">热文列表</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-desktop"></i>
                    <span class="nav-label">党员档案</span>
                    <span class="fa arrow fa-angle-right"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="table.html">添加</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="form_work.html">表单</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-flask"></i>
                    <span class="nav-label">运营统计</span>
                    <span class="fa arrow fa-angle-right"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="operation.html">表单</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-table"></i>
                    <span class="nav-label">用户管理</span>
                    <span class="fa arrow fa-angle-right"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="table.html">添加</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="form_branch.html">表单</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-picture-o"></i>
                    <span class="nav-label">系统设置</span>
                    <span class="fa arrow fa-angle-right"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a class="J_menuItem" href="set.html">设置</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<!--左侧导航结束-->