<!--左侧导航开始-->
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <%if(userInfo.headImg!=""){%>
                            <img alt="image" class="img-circle" src="<%=userInfo.headImg%>" />
                        <%}else{%>
                            <img alt="image" class="img-circle" src="/img/loading-head.png" />
                        <%}%>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold"><%=userInfo.account%></strong></span>
                                <span class="text-muted text-xs block"><%=userInfo.name%><b class="caret"></b></span>
                                </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="J_menuItem" href="/admin/user/toEdit?id=<%=userInfo._id%>">个人资料</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/login/logout">安全退出</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    <%if(userInfo.headImg!=""){%>
                    <img alt="image" class="img-circle" src="<%=userInfo.headImg%>" />
                    <%}else{%>
                    <img alt="image" class="img-circle" src="/img/loading-head.png" />
                    <%}%>
                </div>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-home"></i>
                    <span class="nav-label">支部管理</span>
                    <span class="fa arrow fa-angle-right"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="/admin/branch/toEdit" data-index="0">添加支部</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/branch/index">支部列表</a>
                    </li>
                </ul>
            </li>
            <!--<li>
                <a href="#">
                    <i class="fa fa-columns"></i>
                    <span class="nav-label">基层组织</span>
                    <span class="fa arrow fa-angle-right"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="/admin/org/toEdit" data-index="0">添加组织</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/org/index">组织列表</a>
                    </li>
                </ul>
            </li>-->
            <li>
                <a href="#">
                    <i class="fa fa fa-bar-chart-o"></i>
                    <span class="nav-label">学习宣传</span>
                    <span class="fa arrow fa-angle-right"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="/admin/content/toEdit?m=1">添加宣传</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/content/index?m=1">宣传列表</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/category/index">分类列表</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span class="nav-label">党务工作 </span>
                    <span class="fa arrow fa-angle-right"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="/admin/content/toEdit?m=2">添加工作</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/content/index?m=2">工作列表</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-edit"></i>
                    <span class="nav-label">关注热文</span>
                    <span class="fa arrow fa-angle-right"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="/admin/content/toEdit?m=3">添加热文</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/content/index?m=3">热文列表</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-desktop"></i>
                    <span class="nav-label">党员档案</span>
                    <span class="fa arrow fa-angle-right"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="/admin/archive/toEdit">录入党员</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/archive/index">党员管理</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-table"></i>
                    <span class="nav-label">用户管理</span>
                    <span class="fa arrow fa-angle-right"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="/admin/user/toEdit">添加用户</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/user/index">用户管理</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-picture-o"></i>
                    <span class="nav-label">系统设置</span>
                    <span class="fa arrow fa-angle-right"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="/admin/set/branch/index">支部设置</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/set/operation/index">运营设置</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/set/display/index">显示设置</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/admin/set/study/index">定时设置</a>
                    </li>
                    <!--<li>
                        <a class="J_menuItem" href="/admin/set/archive/index">党员统计设置</a>
                    </li>-->
                </ul>
            </li>
        </ul>
    </div>
</nav>
<!--左侧导航结束-->